.img-modal{
    width: 100% !important ;
    height: 227px !important;
    object-fit: cover;
}

.img-tabla{
    width: 80px;
    height: 80px;
    padding: 5px !important;
    margin: 0;
    object-fit: cover;
    border-radius: 15% !important;
    display: flex;
}

.columna-tamano{
    width: 60px;
    padding: 0 !important;
    margin: 0;
}

.modal-inmo{
    width: 100% !important ;
    height: 179px !important;
    object-fit: cover;
}

.modal-propiedad{
    width: 100% !important ;
    height: 200px !important;
    object-fit: cover;
}

.imagenes{
    width: 100% !important ;
    height: 150px !important;
    object-fit: cover;
}

.mensaje-error{
    display: block;
    color: red;
    font-size: 14px;
    margin-top: 5px;
    width: 100% !important;
    white-space: normal;
}

.ui.grid  {
    display: flex ; 
    justify-content: space-around ;
    flex-direction: row ;
    flex-wrap: nowrap;
    margin-bottom: 0.5rem;
}



.dt-buttons {
    display: flex !important;
    justify-content: center;
}

.buttons-excel {
    margin-right: 0.5rem !important;
}

.row-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 1rem;
}

.seven {
    margin-right: 1rem !important;
}

.dataTables_length{
    display: flex;
    justify-content: flex-start;
}



@media screen and  (max-width: 450px) {
    .ui.grid  {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
    }

    .row-footer {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 1rem;
        align-items: center;
    }

    .ui.input {
        width: 100%;
    }

    .ui.column.grid>[class*="eight wide"].column, .ui.grid>.column.row>[class*="eight wide"].column, .ui.grid>.row>[class*="eight wide"].column, .ui.grid>[class*="eight wide"].column {
        width: 100%!important;
    }
    
}