    .card-body {
    padding: 20px;
    background-color: #ffffff;
  }
  
  .inmo-detail {
    margin-top: 0px;
    font-size: 30px;
    align-items: center;
    margin-bottom: 5px;
    color:#920606;
  }
  

    .imagen-inmo{
        display: flex;
        object-fit: cover;
        width: 100%;
        justify-content: center;
        height: 200px;
    }
  
  /* Estilo para ajustar el tamaño de las fotos */
  .card-img-top-agente {
    height: 206px; /* Ajusta la altura deseada para la imagen */
    object-fit: contain;
  
  }
  .imagen-inmo {
    height: 334px; /* Ajusta la altura deseada para la imagen */
    object-fit: cover;
  
  }
  